<h3>Movie Results</h3>

<% @movies.each do |movie| %>
  <div id='left'><p><%= link_to movie[:title], user_movie_path(@user, movie[:id]) %></p></div>
  <div id='right'><p>Vote Average: <%= movie[:vote_average] %></p></div>
<% end %>